
@color2: rgb(255, 67, 52);
@color3: rgb(253, 206, 164);
@title-color: #942c38;
@text-color: @color2;

.shadowed-text {
  text-shadow: lighten(@color3, 30%) 0 1px 0;
}

html {
  width: 100%;
}

body {
  font-family: serif;
  background-color: @color3;
  color: @text-color;
  width: 800px;
  margin: 0 auto;
}

header {
  
}

h1 {
  color: @title-color;
  .shadowed-text;
}

body > p {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 18px;
  border-radius: 6px;
}

footer {
  text-align: right;
  .shadowed-text;
}