.shadowed-text {
  text-shadow: #ed617d 0 1px 0;
}
html {
  width: 100%;
}
body {
  font-family: sans-serif;
  background-color: #470815;
  color: white;
  margin: 0;
  padding: 0;
}
nav {
  display: block;
  color: white;
  font-size: 36pt;
  width: 100%;
  overflow: hidden;
}
nav ul {
  width: 800px;
  height: 2em;
  margin: 0 auto;
  padding: 0;
  border: 0;
  list-style-type: none;
  display: -webkit-box;
  -webkit-transform: scale(2);
  -webkit-transform-origin: 100% 1em;
}
nav ul li {
  -webkit-box-flex: 1;
  text-align: center;
  line-height: 2em;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
nav:after {
  content: "";
  clear: both;
  height: 0;
  display: block;
  visibility: hidden;
}
article {
  width: 800px;
  margin: 0 auto;
}
h1 {
  color: #ff4334;
}
article > p {
  background-color: #ff4334;
  padding: 18px;
}
footer {
  color: white;
  text-align: right;
  text-shadow: #ed617d 0 1px 0;
}
