@color1: rgb(162, 19, 47);
@color2: rgb(255, 67, 52);
@color3: rgb(253, 206, 164);
@title-color: white;
@text-color: white;
@back-color: @color3;

.railway-font {
  font-family: 'Raleway', sans-serif;
}

html {
  width: 100%;
}

body {
  font-family: sans-serif;
  background-color: @back-color;
  color: @text-color;
  margin: 0;
  padding: 0;
  font-size: 16pt;
}

nav:after {
  content: "";
  clear: both;
  height: 0;
  display: block;
  visibility: hidden;
}

article {
  width: 800px;
  margin: 0 auto;
}

header {
  
}

h1 {
  margin: 12px;
  padding: 12px;
  color: @title-color;
  .railway-font;
  font-size: 48pt;
}

article {
  width: 100%;
}

#canvas {
  width: 800px;
  height: 400px;
  margin: 0 auto;
  display: block;
}

footer {
  color: white;
  text-align: right;
  .railway-font;
}