@color1: rgb(162, 19, 47);
@color2: rgb(255, 67, 52);
@color3: rgb(253, 206, 164);
@title-color: white;
@text-color: white;

.shadowed-text {
  text-shadow: lighten(@color1, 30%) 0 1px 0;
}

html {
  width: 100%;
}

body {
  font-family: sans-serif;
  background-color: darken(@color1, 20%);
  color: @text-color;
  margin: 0;
  padding: 0;
}

nav {
  display: block;
  color: white;
  font-size: 36pt;
  width: 100%;
  overflow: hidden;
  background-color: @color3;
  ul {
    width: 800px;
    height: 2em;
    margin: 0 auto;
    padding: 0;
    border: 0;
    list-style-type: none;
    display: -webkit-box;
    li {
      -webkit-box-flex: 1;
      text-align: center;
      line-height: 2em;
      font-family: 'Raleway', sans-serif;
      a {
        color: @color1;
        text-decoration: none;
      }
    }
  }
}

nav:after {
  content: "";
  clear: both;
  height: 0;
  display: block;
  visibility: hidden;
}

article {
  width: 800px;
  margin: 0 auto;
}

header {
  
}

h1 {
  color: @title-color;
  font-family: 'Raleway', sans-serif;
  font-size: 48pt;
}

body > p {
  background-color: @color2;
  padding: 18px;
}

footer {
  color: white;
  text-align: right;
  .shadowed-text;
}