.shadowed-text {
  text-shadow: #ffffff 0 1px 0;
}
html {
  width: 100%;
}
body {
  font-family: serif;
  background-color: #fdcea4;
  color: #e61100;
  /* width: 800px;
  margin: 0 auto; */

  margin: 0;
  padding: 0;
}
nav {
  display: block;
  color: white;
  font-size: 26pt;
  width: 100%;
  overflow: hidden;
}
nav ul {
  width: 800px;
  height: 3em;
  margin: 0 auto;
  padding: 0;
  border: 0;
  list-style-type: none;
  display: -webkit-box;
  -webkit-transform: scale(3);
  -webkit-transform-origin: 0 1.5em;
}
nav ul li {
  -webkit-box-flex: 1;
  text-align: center;
  line-height: 3em;
}
nav:after {
  content: "";
  clear: both;
  height: 0;
  display: block;
  visibility: hidden;
}
article {
  width: 800px;
  margin: 0 auto;
}
h1 {
  color: #942c38;
  text-shadow: #ffffff 0 1px 0;
}
article > p {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 18px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 7px;
}
footer {
  text-align: right;
  text-shadow: #ffffff 0 1px 0;
}
